div.content {
    font-family: Helvetica, Arial, sans-serif;
}

div.page { 
    font-size: 11pt;
    line-height: 1.1em; 
    background: white;
    font-family: Helvetica, Arial, sans-serif;    
}

.page a:link, .page a:visited {
    background: white; 
    color: black; 
    text-decoration: none;
    font-weight: normal;
		border-bottom: none;
}

.page abbr {
    background: white; 
    color: black; 
    border-bottom: none;
}

.page p {
    margin-top: 0;
    margin-bottom: 0;
}

h1#blog-title {
    font-size: 18pt;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.page h2 {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 0.6ex;
    margin-bottom: 0;
}

.page h3 {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 0.5ex;
    margin-bottom: 0;
}

.page ul {
    margin-top: 0.2ex;
    margin-bottom: 0ex;
    padding-left: 3ex;
}

.page h3+p {
    margin-top: 0;
    margin-bottom: 0;
}

.page h4,.page h4+p {
    display: none;
}

.sidebar, .footer, .entry-title {
    display: none;
}

body div#blog-description,
body div.sidebar,
body div.access,
body div#globalnav,
body span.archive-meta,
body div.cat-meta,
body div#footer,
body div.navigation,
body div.comments form#commentform,
body h3#respond {
    display:none;
}
